@model ProgrammingForTheCloud.Models.MenuItem

@{
    ViewData["Title"] = "Add Menu";
}

<div class="container mt-4">
    <h2>Add a Menu to the restaurant</h2> <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreateMenu" method="post" enctype="multipart/form-data">
                <input type="hidden" name="restaurantId" value="@ViewBag.RestaurantId" />
                
                <div class="mb-3">
                    <label class="form-label">Menu Item Photo</label>
                    <input type="file" name="imageFile" class="form-control" accept="image/*" />
                </div>

                <button type="submit" class="btn btn-success">Save to Cloud</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
</div>